.card-div {
    background-color: var(--light-gray);
    border-bottom: 0.5vh solid var(--secondary-color);
    width: 20vw;
    height: 25vw;
    padding: 2vw;
    border-radius: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: justify;
    transition: 0.3s;


}

.card-div h2 {
    font-size: 1.5vw;
}

.car-div p {
    color: var(--second-text-color);
    font-size: 1.5vw;
    
}

.card-div img {
    margin-bottom: 1vw;
}

.card-div:hover {
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-top: -4vw;
    margin-bottom: -4vw;
    transition: 0.3s;
    border-bottom: 1vh solid var(--secondary-color-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

