#middle {
    background-color: var(--light-gray);
    border-top: 0.125rem solid #e4e4e4;
    height: 130vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#card-sect {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vw;
    
}

#middle .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top:3vh;
    text-align: center;
    gap: 1.75rem;
}

#middle p {
    color: var(--second-text-color);
}

@media (width >=1280px) {
    #middle {
        background: var(--bg-color);
        border-top: none;
        
    

        >span {
            position: absolute;
            top: 0;
        }

        >img {
            top: 0;
            height: 82%;
            padding-left: 55%;
        }

        .content p {
            width: 80%;
            align-self: center;
        }


        .content {
            gap: 2.5rem;
        }

        .content>div :first-child {
            width: 10.625rem;
        }

        .content p {
            width: 80%;
            align-self: center;
        }

        .content p:first-of-type {
            color: var(--primary-color);
            font-weight: var(--fw-bold);
        }
        
    }
}

